<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header}}
    {{!-- <h2>{{ScreemIT welcomahmedeish}}</h2> --}}
    <h1 style="color:brown">Hello ya3m Ahmed</h1>
     <p style="color:darkblue">This IS About Page that we render It Using Handlebars </p>
     <h2>Hello USING Handlebars</h2>
     <footer>{{Footer}}</footer>
     {{> footer}}
</body>
</html>